<%- include('header.ejs') %>

<!-- Basic features section-->
<section class="bg-light">
  <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
          <div class="col-12 col-lg-5">
              <h2 class="display-4 lh-1 mb-4"><%= __('Private zone') %></h2>
          </div>
          <div class="col-12 col-lg-5">
              <p>Email: <%= email %></p>
          </div>
      </div>
      <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-12">
            <h4 class="display-6 lh-1 mb-4"><%= __('My agents') %></h4>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col" style="width: 12%;"><a href="/agents-new">New agent</a></th>
                  </tr>
                </thead>
                <tbody>
                  <% agentes.forEach(agente => { %>
                    <tr>
                        <th scope="row"><%= agente._id %></th>
                        <td><%= agente.name %></td>
                        <td><%= agente.age %></td>
                      <td><img src="<%= agente.avatar %>"></td>
                        <td><a
                            href="javascript:void(0);"
                            onclick="confirmDeleteAgent('<%= agente.name %>', '<%= agente._id %>')"
                            ><i class="bi bi-trash-fill"></i></a></td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
        </div>
    </div>
</div>
</section>

<script>
    function confirmDeleteAgent(name, agenteId) {
        if (confirm(`Estas seguro que quieres borrar el agente "${name}"?`)) {
            window.location.href = `/agents-delete/${agenteId}`;
        }
    }
</script>

<%- include('footer.ejs') %>